/IngredientContainer.class
/AlchemicIngredient.class
/IngredientType.class
/Laboratory.class
/Transmogrifier.class
/CoolingBox.class
/Oven.class
/NotInLaboratoryException.class
/IllegalIngredientException.class
/IllegalIngredientAdditionException.class
/NoIngredientInDeviceException.class
/Temperature.class
/IngredientNotPresentInLabException.class
